<metrics-charts></metrics-charts>
<div class="row">
    <div class="col-xl-6">
        <div class="card card-block">
            <div id="container-mem" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto">
                <div [ng2-highstocks]="chartStockMem" class="graph"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card card-block">
            <div id="container-mem-free" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto">
                <div [ng2-highstocks]="chartStockMemFree" class="graph"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-block">
            <div id="container-sys-load-average" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto">
                <div [ng2-highstocks]="chartStockSysLoadAvg" class="graph"></div>
            </div>
        </div>
    </div>
</div>