<div class="container-fluid">
    <ul class="nav navbar-nav">
        <li><a routerLink="/metrics/mem" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Memory</a></li>
        <li>
            <a routerLink="/metrics/heap" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Heap</a></li>
        <li><a routerLink="/metrics/threads" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Threads</a></li>
        <li>
            <a routerLink="/metrics/gc" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">GC</a></li>
        <li><a routerLink="/metrics/network" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Network</a></li>
    </ul>

</div>